@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fontFamily/Montserrat-VariableFont_wght.ttf");

}

@theme {
    --font-Montserrat: Montserrat, "sans-serif"
}